.App {
  min-height: 100vh;
  background-color: rgb(251, 251, 239);
  background-color: rgb(251, 251, 239);
  background-color: rgb(251, 251, 239);
  margin: 5px;
}


a.navbar-brand {
  margin-inline-start: -5em;
}

.nav-link {
  color: rgb(71, 70, 70) !important;
  margin-left : 5 em !important;
}


.navbar {
  padding: 80px; 
}
 
.side-profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-section {
  background-color: rgb(251, 251, 239);
}

.bold-text {
  font-weight: bold;
}


.centered-modal {
 width: 80%;
 margin: auto;
}

.profile {
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100dvh;
  margin: 20px;
  padding-top: 20px;
  
  color: rgb(10, 6, 6);
  background-color: rgb(150, 146, 153);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Dashboard-Styling {
  display: flex;
  align-items: center; /* Vertical alignment */
  height: 100vh; /* Adjust the height as needed */
}

.Dashboard-Styling > :first-child {
  margin-right: auto; /* Pushes the SidebarComponent to the left */
}

